h1{
  text-align: center;
  font-size: 2.5rem; /* 폰트 크기 조정 */
  font-weight: bold; /* 폰트 굵기 설정 */
  color: #333; /* 텍스트 색상 설정 */
  text-align: center; /* 가운데 정렬 */
  text-transform: uppercase; /* 텍스트 대문자로 변환 */
  margin-bottom: 20px; /* 하단 마진 설정 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 텍스트 그림자 추가 */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

